<h1>Listing filmes por gênero</h1>
<h2><%= @genero.nome %></h2>
<table>
  <tr>
    <th>Nome</th>
    <th>Ano</th>
    <th>Diretor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lista_filmes.each do |filme| %>
  <tr>
    <td><%= filme.nome %></td>
    <td><%= filme.ano %></td>
    <td><%= filme.diretor %></td>
    <td><%= link_to 'Show', filme %></td>
    <td><%= link_to 'Edit', edit_filme_path(filme) %></td>
    <td><%= link_to 'Destroy', filme, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', generos_path %>
