<%= form_for @aluguel do |f| %>
  <% if @aluguel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluguel.errors.count, "error") %> prohibited this aluguel from being saved:</h2>

      <ul>
      <% @aluguel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cliente_id, 'Cliente:' %><br />
    <%= f.select("cliente_id", @clients.collect { |client| [ client.nome, client.id ] }, { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label :data_saida, 'Data de saída:' %><br />
    <%= f.text_field "data_saida" , :disabled => true %>
  </div>
  
  <div class="field">
    <%= hidden_field_tag "aluguel[filme_ids][]", "" %>
    <% @movies.each do |filme| -%>
    <div>
      <%= check_box_tag :filme_ids, filme.id, @aluguel.filmes.include?(filme), :name => 'aluguel[filme_ids][]' %>
      <%= f.label :filme_ids, filme.nome %><br />
    </div>
  <% end -%>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
