<h1>Listing Alugueis</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Filmes</th>
    <th>Data de saída</th>
    <th>Data de entrega</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alugueis.each do |aluguel| %>
  <tr>
    <td><%= aluguel.cliente.nome %></td>
    <td>
      <% aluguel.filmes.each do |filme| %>
        <ul>
          <li> <%= filme.nome %></li>
        </ul>
      <% end -%>
    </td>
    <td><%= aluguel.data_saida %></td>
    <td><%= aluguel.data_devolucao %></td>
    <td><%= link_to 'Show', aluguel %></td>
    <td><%= link_to 'Edit', edit_aluguel_path(aluguel) %></td>
    <td><%= link_to 'Destroy', aluguel, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New aluguel', new_aluguel_path %>
<%= link_to 'Back', "/" %>
