<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @aluguel.cliente.nome %>
</p>

<p>
  <b>Filmes:</b>
  <% @aluguel.filmes.each do |filme| %>
  	<ul>
     	<li> <%= filme.nome %></li>
    </ul>
  <% end -%>
</p>

<p>
  <b>Data do aluguel:</b>
  <%= @aluguel.data_saida %>
</p>

<p>
  <b>Data da entrega:</b>
  <%= @aluguel.data_devolucao %>
</p>

<% if @aluguel.data_devolucao.nil? %>
  <%= link_to 'Finalizar aluguel', finalizar_aluguel_aluguel_path(@aluguel) %>
<% end %>
<%= link_to 'Back', alugueis_path %>
