<%= form_for(@filme) do |f| %>
  <% if @filme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filme.errors.count, "error") %> prohibited this filme from being saved:</h2>

      <ul>
      <% @filme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome, 'Nome:' %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :ano, 'Ano:' %><br />
    <%= f.number_field :ano %>
  </div>
  <div class="field">
    <%= f.label :diretor, 'Diretor:' %><br />
    <%= f.text_field :diretor %>
  </div>
  <div class="field">
    <%= f.label :genero, 'Gênero' %><br />
    <%= f.select("genero_id", Genero.all.collect {|g| [ g.nome, g.id ] }, { :include_blank => true }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
